.homeCanvas{
    background-image: url("../../assets/images/black-Theme1.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.homeContainer{
    margin-top: -20vh;
    background-color: #564bd2;
    padding-top: 4vmax;
    border-radius: 160px 160px 200px 200px;
    border-bottom: 200px solid #564bd2;
    position: relative;
    z-index: 1;
}

.homeSkills{
    transform: translateY(-200px);

     /* position: relative; */
     padding-top: 200px;
     padding-bottom: 250px;
     box-sizing: border-box;
     perspective: 450px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     overflow-x: hidden;
        margin-bottom: -200px;
    
}
.homeachivement{
    transform: translateY(-200px);
    margin-bottom: -200px;
    border-radius: 200px 200px 0 0;
    background-color: #564bd2;
}
